<a href="https://colab.research.google.com/github/Shubh325/Ai_job_market/blob/main/Toyota_Case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **⚛ Import Needed Libraries ⚛**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

# **⚛ Exploring the Data ⚛**

In [ ]:
Toyota=pd.read_csv("/content/Toyota (1).csv")
Toyota.head()

In [ ]:
Toyota=pd.read_csv("/content/Toyota (1).csv",index_col=0)
Toyota.head()

# **✴ Copy to the original dataset ✴**

In [ ]:
Toyota1=Toyota.copy()

In [ ]:
# Check to the information
Toyota1.info()

In [ ]:
# Conclusion = info()
"""
-> The data in  rows-1436 and totole 10-columns.
-> The data type of each column.
-> The count of non-null (valid) entries per column.
-> Memory usage of the DataFrame.

"""

In [ ]:
# Check the head data
Toyota1.head()

In [ ]:
# Check the tail data
Toyota1.tail()

In [ ]:
# check to shape
Toyota1.shape

In [ ]:
# check the size
Toyota1.size

In [ ]:
# check the total columns
Toyota.columns

In [ ]:
# Check the datatype
Toyota1.dtypes

In [ ]:
#describe the dataset
Toyota1.describe()

# **Check the datatype and fill the null values**

In [ ]:
Toyota1.dtypes.value_counts()

In [ ]:
Toyota1.select_dtypes(exclude=["O"])

In [ ]:
Toyota1.select_dtypes(include=["O"])

In [ ]:
Toyota1.loc[:,"Price"]

In [ ]:
Toyota1.at[1,"Age"]

In [ ]:
Toyota1.iat[8,7]

In [ ]:
print(np.unique(Toyota1["KM"]))

In [ ]:
print(np.unique(Toyota1["HP"]))

In [ ]:
print(np.unique(Toyota1["Doors"]))

In [ ]:
Toyota1=pd.read_csv("/content/Toyota (1).csv",na_values=["??","????"])

In [ ]:
Toyota1.select_dtypes(exclude=["O"])

In [ ]:
Toyota1["MetColor"]=Toyota1["MetColor"].astype("O")

In [ ]:
Toyota1["Doors"].replace("three",3,inplace=True)
Toyota1["Doors"].replace("four",4,inplace=True)
Toyota1["Doors"].replace("five",5,inplace=True)
Toyota1.select_dtypes(include=["O"])

In [ ]:
Toyota1["Doors"]=Toyota1["Doors"].astype("int64")

In [ ]:
Toyota1.select_dtypes(include=["O"])

# **Dealing With Missing Values**

In [ ]:
Toyota1.isna().sum()

In [ ]:
Toyota1["Age"].mean()

In [ ]:
Toyota1["Age"].fillna(Toyota1["Age"].mean(),inplace=True)

In [ ]:
Toyota1["KM"].median()

In [ ]:
Toyota1["KM"].fillna(Toyota1["KM"].median(),inplace=True)

In [ ]:
Toyota1["HP"].mean()

In [ ]:
Toyota1["HP"].fillna(Toyota1["HP"].mean(),inplace=True)

In [ ]:
Toyota1["FuelType"].value_counts()

In [ ]:
Toyota1["FuelType"].value_counts().index[0]

In [ ]:
Toyota1["FuelType"].fillna(Toyota1["FuelType"].value_counts().index[0],inplace=True)

In [ ]:
Toyota1.isnull().sum()

In [ ]:
Toyota1["MetColor"].mode()

In [ ]:
Toyota1["MetColor"].fillna(Toyota1["MetColor"].mode()[0],inplace=True)

In [ ]:
Toyota1.isnull().sum()

# Conclusion:-

From Inspection of Data it is clear that raw data consist of total 1436 rows & 11 columns.There are some columns like KM,HP & Doors shows as object because of some special character present in that like in KM & HP columns and presence of Categorical cells present in Doors column respectively. After Complete understanding of data the all NAN cells in all required Columns are filled with appropriate Statistical Operations like mean,median & mode.Now the data is ready for Visualization.

# **Data Visualization**

In [ ]:
plt.scatter(Toyota1["Age"],Toyota1["Price"],c="red")
plt.title("Price Vs Age of the Car")
plt.xlabel("Age of the Car")
plt.ylabel("Price of the Car")

In [ ]:
plt.hist(Toyota1["KM"],color="blue",edgecolor="white",bins=5)
plt.title("Histogram of Kilometer")
plt.xlabel("KM")
plt.ylabel("Frequency")
plt.show()

In [ ]:
Toyota1["FuelType"].value_counts()

In [ ]:
counts=[1277,144,15]
FuelType=("Petrol","Diesel","CNG")
index=np.arange(len(FuelType))
plt.bar(index,counts,color=["red","blue","green"])
plt.title("Bar Plot of Fuel Types")
plt.xlabel("FuelType")
plt.ylabel("Frequency")
plt.xticks(index,FuelType,rotation=90)
plt.show()

In [ ]:
sns.set(style="darkgrid")
sns.regplot(x=Toyota1["Age"],y=Toyota1["Price"])

In [ ]:
sns.regplot(x=Toyota1["Age"],y=Toyota1['Price'],marker="*",fit_reg="False")

In [ ]:
sns.distplot(Toyota1["Age"])

In [ ]:
sns.distplot(Toyota1["Age"],kde=False)

In [ ]:
sns.distplot(Toyota1["Age"],kde=False,bins=5)

In [ ]:
sns.lmplot(x="Age",y="Price",data=Toyota1,fit_reg=False,hue="FuelType",legend=True)

In [ ]:
sns.countplot(x="FuelType",data=Toyota1)

In [ ]:
sns.countplot(x="FuelType",data=Toyota1,hue="Automatic")

In [ ]:
sns.boxplot(y=Toyota1["Price"])

In [ ]:
sns.boxplot(x=Toyota1["FuelType"],y=Toyota1["Price"])

In [ ]:
sns.boxplot(x=Toyota1["FuelType"],y=Toyota1["Price"],hue="Automatic",data=Toyota1)

In [ ]:
sns.pairplot(Toyota1,kind="scatter",hue="FuelType")
plt.show()

Observations:-

1.Age of Cars increses Price Comes down.

2.Most of the cars were run in between 50,000 to 100000 KM.

3.Most of the cars are having petrol as a FuelType.

4.Most of the cars old, Falls between 70-80 of Age.

5.Diesel Cars are having both highest & lowest price.

6.CNG Fueltype cars of higher age compaire to petrol Diesel.

7.Most of the cars works on petrol as a Fueltype.

8.Only Petrol FuelType Cars are having Automatic Gear Box.

9.Diesel & CNG Fueltype cars are having Manual Gear Box.

10.Nearly 75% of cars are having prize less than 13000 euros.